<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Game</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="#" id="logout-link">Logout</a></li>
      </ul>
    </nav>
    <header>
      <h1><a href="/dashboard">Your Dashboard</a></h1>
    </header>

    <main>
      {{{body}}}
    </main>
  </body>

</html>
{{! inline script to handle click of logout button }}
<script>
  const logout = async function() { const response = await
  fetch('/api/user/logout', { method: 'POST', headers: { 'Content-Type':
  'application/json' }, }); if (response.ok) { document.location.replace('/'); }
  else { alert('Failed to log out'); } };
  document.querySelector('#logout-link').addEventListener('click', logout);
</script>