
 <!DOCTYPE html>
<html lang="en">
<head>
    <script type = "text/javascript" src = "phaser.min.js"></script>
    <script type = "text/javascript" src = "scene1.js"></script>
    <script type = "text/javascript" src = "scene2.js"></script>
    <script type = "text/javascript" src = "game.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css" />
    <title></title>
</head>
<body>
    <nav>
        <ul>
            <a href="#" id="logout-link" type="button" class="btn btn-secondary">Logout</a>
        </ul>
    </nav>
</body>