<h2>ISGAME:TRUE</h2>

<h5> WELCOME TO OUR GAME, HERE ARE THE INSTRUCTIONS TO PLAY THE GAME: </h5>

<div class="card text-center">
    <div class="card-header">
        INSTRUCTIONS
    </div>
    <ul class="card-body">
        <li class="list-group-item">Move Left = "A"</li>
        <li class="list-group-item">Move Right = "D"</li>
        <li class="list-group-item">Crouch = "S"</li>
        <li class="list-group-item">Aim Sword Up = "W"</li>
        <li class="list-group-item">Jump = "Space"</li>
    </ul>
</div>