{{!-- https://mdbootstrap.com/docs/standard/extended/login/#section-login-register --}}
{{!-- <div class="bg-dark w-100 h-100"> --}}

<h2 class="text-white">isGame:True</h2>

<h5 class="text-white"> welcome to our game, please login: </h5>

{{!-- <h2>ISGAME:TRUE</h2>

<h5> WELCOME TO OUR GAME, PLEASE LOGIN: </h5> --}}

<form id="login-form" class="card-body" method="POST" action="/api/user/login">
  <div class="form-outline mb-4">
    <label class="text-white form-label" for="loginName">username</label>
    <input name="username" type="text" id="loginName" class="form-control"/>
  </div>

  <div class="form-outline mb-4">
    <label for="password-input-login" class="text-white form-label">password</label>
    <input name="password" type="password" id="loginPassword" class="form-control" />
  </div>

<button type="submit" class="btn btn-light">login</button>
  <a type="button" href="/signup" class="btn btn-dark" >sign up instead</a>
</form>

</div>