#logout-link {
    float: right;
    margin-right: 20px;
    font-family: Andale Mono, monospace;
}

#submitScore {
    float: left;
    margin-right: 20px;
    font-family: Andale Mono, monospace;
}

h2 {
    font-size: 2.7rem;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    margin-top: 15px;
    padding: 10;
    color: #000;
    /* color: white; */
    text-align: center;
    
}
h5 {
    text-align: center;
    font-family: Courier, monospace;
}
form {
    margin: 0 auto;
    width: 22%;
    padding: 2em;
    border-radius: 1em;

}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Pixel_Art_Background.jpg");
    background-color: #cccccc;
    /* background-size: cover; */
    /* background-color: black; */
   }

#thegame {
    width: 20%;
}

.noscore {
    font-size: 2.7rem;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    margin-top: 15px;
    padding: 10;
    color: #000;
    text-align: center;
}

#leaderboardheader {
    font-size: 2.7rem;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    margin-top: 15px;
    padding: 10;
    color: #000;
    text-align: center;
}

#leaderboardlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}

#leaderboarditem {
    list-style: none;
    font-size: 30px;
    font-family: Andale Mono, monospace;
    margin-top: 15px;
    padding-right: 50px;
    color: #000;
    color: #000;
    /* text-align: left; */
}